@import url("https://robertbigk.github.io/theme.park/css/addons/unraid/login-page/alien/alien-base.css");

:root {
    --main-bg: radial-gradient(ellipse at center, rgba(0, 255, 119, 0.1) 0, rgba(0,255,119,0) 100%) center center/cover no-repeat fixed,
    url("https://robertbigk.github.io/theme.park/css/addons/unraid/login-page/alien/wallpaper/Alters.png") center center/cover no-repeat fixed;

    --logo: url("https://robertbigk.github.io/theme.park/css/addons/unraid/login-page/alien/logo/wings.png") center no-repeat;

    --text-color: #9be0ff;
    --input-color: #9be0ff;
    --link-color: #9be0ff;
    --link-color-hover: #ff89d6;
    --case-color: #9be0ff;
    --button-text-color: #9be0ff;
    --button-text-color-hover: #000;
    --button-color: #9be0ff;
    --button-color2: #ff89d6;
    --button-color-hover: #ff89d6;
    --button-color2-hover: #ff89d6;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;
    --div-background-color-15: rgba(255, 200, 255, 0.06);
    --text-shadow: 0 0 8px;
    --box-shadow: 0 0 15px;
}

#login {
  margin-left: 600px !important;
}  /* <-- brakujący nawias domknięty tutaj */

#login .logo {
    background: var(--logo);
    background-size: 300px auto !important;
    padding: 3rem !important;
    height: 200px !important;
    width: 300px !important;
    margin: 1rem auto !important;
}

#login .login-box {
  backdrop-filter: blur(4px);
}
