
body {
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.95;
}

.login-box {
  background-color: rgba(0, 25, 50, 0.6);
  border: 1px solid rgba(0, 180, 255, 0.4);
  border-radius: 8px;
}
